* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(fonts/Poppins-Regular.ttf);
    font-family: Poppins;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}

body {
    /*
    font-style: italic;
    font-variant: normal; (default)
    font-weight: bold;
    font-size: 1em;
    font-family: Poppins;
    */
    font-family: Poppins;
    font-size: 0.5rem;
    letter-spacing: 0.025rem;
    background-color: white;
    
    /*
    background-color: navajowhite;
    background-size: cover;
    background-image: url('pictures/paper.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    */
}

body nav {
    position: sticky;
    top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.bold {
    font-weight: bold;
}

[class^="hd-"] {
    padding:0.25rem;
    color: white;
}

.hd-top {
    border: 2px ridge lightsalmon;
    border-radius: 2px;
    background-color: rgb(255, 143, 220);
    text-align: center;
}

.hd-top > a {
    font-size: 1.25em;
    color: yellow;
}

.hd-top > p {
    display:inline-block;
    float: right;
    padding: 0.1rem 0.25rem 0rem 0.25rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 1s;
}

.hd-top > p:hover {
    background-color: lightslategray;
}

[class^="nav-"] {
    padding:0.25rem;
    color: white;
}

.nav-main {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-image: url('pictures/desert.jpg');
    background-repeat: no-repeat;
    background-position: center 15%;
    background-blend-mode: multiply;
}

.nav-main > ul {
    list-style: none;
}

.nav-main-list {
    font-size: 0.65rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-main-list li {
    margin: 0rem 1rem;
}

.nav-main-list li:nth-of-type(1) {
    flex-grow: 1;
}

main {
    /*padding: 0 1rem; */
    max-width:100vw;
    color: white;
    background-image: url('pictures/pinkviolet.png');
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
    overflow: hidden;
}

[class^="main-"] {
    letter-spacing: -0.1rem;
    padding:0 0.75rem;
}

.main-container {
    display: grid;
    grid-template-rows: 6fr repeat(3, minmax(35px, 0.5fr)) 1fr 1fr;
    grid-template-columns: 50% 50%;
    justify-items: stretch;
    align-items: end;
    grid-template-areas: 
    "⬜ 👉"
    "👀 👉"
    "👂 👉"
    "👃 👉"
    "👄 👉"
    "📜 📜";
    line-height: 1;
}

@media screen and (max-width: 640px) {
    /* Style for Mobile Devices */
}

@media screen and (min-width: 641px) {
    /* Style for Mobile Devices/Tablets */
}

@media screen and (min-width: 768px) {
    /* Style for PC/Mac */
    body {
        font-size: 0.75rem;
    }

    main {
        background-position: center 45%;
    }

    .hd-main-list {
        font-size: 0.85rem;
        line-height: 200%;
    }

    .ft-legal-list {
        font-size: 0.85rem;
        line-height: 200%;
    }
}

.poppins-bold {
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: min(3.5vw, 32px);
}

.poppins {
    font-family: 'Poppins';
    font-weight: normal;
    font-size: min(3.5vw, 24px);
}

.main-info {
    background-color: rgb(255, 0, 0, 0);
    grid-area: 📜;
    justify-self: stretch;
    align-self: start;
}
.empty-2 {
    background-color: rgba(255, 192, 203, 0);
    grid-area: 👉;
    align-self: stretch;
}

.empty-3 {
    background-color: rgba(255, 255, 255, 0);
    grid-area: ⬜;
    align-self: stretch;
}

.i-am {
    text-shadow: -1.25px -1.25px rgb(0, 123, 255);
    color: rgb(0, 225, 255);
    grid-area: 👀;
}
.gno1 {
    text-shadow: -1.25px -1.25px rgb(0, 140, 0);
    color: rgb(0, 190, 0);
    grid-area: 👂;
}
.we-are {
    text-shadow: -1.25px -1.25px orange;
    color: rgb(255, 242, 0);
    grid-area: 👃;
}
.knowbody {
    font-size: min(12vw, 120px);
    letter-spacing: -0.45rem;
    text-shadow: -1.5px -1.5px rgb(255, 0, 0);
    color: rgb(255, 143, 220);
    grid-area: 👄;
}

[class^="ft-"] {
    padding:0.25rem;
    color: white;
}

.ft-legal {
    background-color: rgb(54, 0, 68, 0.95);
    background-size: cover;
    background-image: url('pictures/desert.jpg');
    background-repeat: no-repeat;
    background-position: center 80%;
    background-blend-mode: darken;
}

.ft-legal > ul {
    list-style: none;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.ft-legal-list li {
    margin: 0rem 0.25rem;
}

.ft-legal-list li:nth-of-type(2) {
    flex-grow: 1;
}