* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(fonts/Poppins-Regular.ttf);
    font-family: Poppins;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}

body {
    /*
    font-style: italic;
    font-variant: normal; (default)
    font-weight: bold;
    font-size: 1em;
    font-family: Poppins;
    */
    font: 0.5em Poppins;
    letter-spacing: 0.025em;
    

    /*
    background-color: navajowhite;
    background-size: cover;
    background-image: url('pictures/paper.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    */
}

a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.bold {
    font-weight: bold;
}

[class^="hd-"] {
    padding:0.25rem;
    color: white;
}

.hd-top {
    border: 2px ridge lightsalmon;
    border-radius: 2px;
    background-color: darkorange;
    text-align: center;
}

.hd-top > a {
    font-size: 1.25em;
    color: yellow;
}

.hd-top > p {
    display:inline-block;
    float: right;
    padding: 0.1rem 0.25rem 0rem 0.25rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s;
}

.hd-top > p:hover {
    background-color: lightslategray;
}

.hd-main {
    background-color: lightslategrey;
    background-size: cover;
    background-image: url('pictures/desert.jpg');
    background-repeat: no-repeat;
    background-position: center 15%;
    background-blend-mode: multiply;
}

.hd-main > ul {
    list-style: none;
}

.hd-main-list {
    width: 100%;
    font-size: 0.65rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.hd-main-list li {
    margin: 0rem 1rem;
}

.hd-main-list li:nth-of-type(1) {
    flex-grow: 1;
}

main {
    /*padding: 0 1rem; */
    max-width:100vw;
}

.container {
    overflow-x: hidden;
    max-width: 100%;
    border: 2px solid black;
}

.main-intro {
    height: 768px;
}

@media screen and (min-width: 576px) {
    /* Style for Mobile Devices */
}
@media screen and (min-width: 792px) {
    /* Style for PC/Mac */
    .container {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        align-content: flex-end;
    }
}

.poppins-bold {
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 1rem;
}
.i-am {
    text-shadow: -1.25px -1.25px rgb(0, 123, 255);
    color: rgb(0, 225, 255);
}
.gno1 {
    text-shadow: -1.25px -1.25px rgb(0, 140, 0);
    color: rgb(0, 190, 0);
}
.we-are {
    text-shadow: -1.25px -1.25px orange;
    color: rgb(255, 242, 0);
}
.knowbody {
    font-size: 3.5rem;
    text-shadow: -1.25px -1.25px rgb(255, 0, 0);
    color: rgb(255, 0, 174);
}

[class^="ft-"] {
    padding:0.25rem;
    color: white;
}

.ft-legal {
    background-color: lightslategrey;
    background-size: cover;
    background-image: url('pictures/desert.jpg');
    background-repeat: no-repeat;
    background-position: center 80%;
    background-blend-mode: multiply;
}

.ft-legal > ul {
    list-style: none;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.ft-legal-list li {
    margin: 0rem 0.25rem;
}

.ft-legal-list li:nth-of-type(2) {
    flex-grow: 1;
}