/* always put the HTML code <link rel="stylesheet" type="text/css" href="style.css">
.alpha {
    font-family: Tahoma;
    font-size:medium;
    color:darkslategray;
    font-size:90%
}
.beta {
    color:navy;
    font-family: sans-serif;
    font-size: 90%;
    white-space: nowrap;
}
.charlie {
    color: green;
    font-family: 'Segoe UI';
    font-size:90%;
}
.delta {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.echo {
    text-align: center;
}
.falcon {
    display: inline-block;
}
.gunner {
    margin-right: px;
    margin-left: 5px;
}
.hatter {
    color: grey;
    font-size:28px;
}
*/
@font-face {
    src: url(fonts/Poppins-Regular.ttf);
    font-family: Poppins;
}
body {
    font-family: Poppins;
    background-color: #fce5bd;
}
#nav {
    float: right;
    text-align: right;
}
#nav a {
    text-decoration: none;
    color: #ffffff;
}

#nav h3 {
    margin: 0;
}

#nav p {
    display: inline-block;
    background-color: #ffa500;
    padding: 0px 10px 0px 10px;
    margin: 0px 7px 0px 7px;
    border-style: outset;
    border-color:#ffa500;
    border-radius: 20px;
}