* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px dotted olivedrab;
}

.column-container > p {
    text-align: center;
    width: 40%;
    border: 2px double olivedrab;
}




